Source: qt-heifimageplugin
Priority: optional
Maintainer: Xu Shaohua <xushaohua2016@outlook.com>
Build-Depends: debhelper (>= 9),
    cmake,
    libheif-dev,
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/xushaohua/qt-heifimageplugin

Package: qt-heifimageplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: heif plugin for Qt
 Wrapper of libheif for Qt image
